h1 {
	font-size: 50px;
}

p {
	font-size: 25px;
}

button {
	font-size: 25px;
}

body {
	background-image: url("https://s-media-cache-ak0.pinimg.com/originals/19/a3/55/19a355e93f78b9f1d7687c2aebf212f3.jpg");
}

button:hover {
	background-color: blue;
	color: white;
}

.container {
	font-size: 40px;
}