body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/564x/23/95/fd/2395fd30a6d774d95b89edf3a6a421b7.jpg");
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
    color: #000;
}

a:hover {
    color: #209aca;
}

ol {
    list-style-type: none;
    padding: 20px 0px;
}

ul {
    list-style-type: none;
    padding: 0px;
}

ol li {
    padding-bottom: 15px;
}

.btn.btn-primary, .btn.btn-danger {
    margin-top: 20px;
}

.btn.btn-default {
    margin-top: 50px;
}

h1 {
  color: red;
  text-align: center;
  font-size: 50px;
}
